
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 1rem;
}
main {
  position: relative;
  width: 100%;
}
#app {
  position: relative;
  background-color: var(--color-black);
}
section {
  padding: 2rem 0;
}


/* Containers and grid */

.container,
.container-fluid {
  width: 100%;
  padding-left: 6vw;
  padding-right: 6vw;
}
.container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter / 2;
  margin-left: -$gutter / 2;
}
.col {
  flex: 0 0 100%;
  width: 100%;
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}


/* Expand link to target div */

[data-expand-target] {
  overflow: hidden;
  position: relative;
}
[data-expand-link]:after {
  content: '';
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
