@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@mixin font-family-base() {
  font-family: 'Poppins', sans-serif;
}

#app {

  p, a, button, h1, h2, h3, h4, h5, h6, li,
  input, select, option, textarea, label {
    @include font-family-base();
    color: white;
    font-weight: 400;
    line-height: 1.5;
    transition: all ease .2s;
  }
  input, select, option, textarea {
    appearance: none;
  }
  #profile-editor-container input {
    appearance: auto;
  }
  textarea {
    resize: none;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.25;
  }
  h1, .h1 { font-size: 2.5rem; }
  h2, .h2 { font-size: 1.75rem; }
  h3, .h3 { font-size: 1.5rem; }
  h4, .h4 { font-size: 1rem; }
  h5, .h5 { font-size: 1rem; }
  h6, .h6 { font-size: 1rem; }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  .icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: middle;
  }
  .icon img,
  .icon svg {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
}
