<template>
  <div :class="[`app-footer ${$nuxt.$route.path === '/mes-feels' ? 'create-feel-page' : ''}`]">
    <div class="footer-links">
      <div
        v-for="(link, index) in links"
        :key="index"
        :class="[`footer-link ${link.icon} ${$nuxt.$route.path === link.route ? 'active' : ''}`]"
      >
        <NuxtLink :to="link.route">
          <raw-svg :icon="link.icon" />
        </NuxtLink>
      </div>
    </div>
    <div class="create-feel">
      <NuxtLink
        class="btn btn-primary btn-round"
        to="/creer"
      >
        +
      </NuxtLink>
    </div>
  </div>
</template>

<script>
import RawSvg from '~/components/utils/RawSvg'

export default {
  name: 'AppFooter',
  components: {
    RawSvg
  },
  data () {
    return {
      links: [
        {
          route: '/decouvertes',
          icon: 'discovery'
        },
        {
          route: '/',
          icon: 'explore'
        },
        {
          route: '/mes-feels',
          icon: 'create'
        }
      ]
    }
  }
}
</script>

<style scoped>

.app-footer {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--color-black);
  border-top: 2px solid var(--color-blue);
}
.app-footer.create-feel-page {
  justify-content: flex-end;
}

/* Footer links */

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link.explore {
  padding: 0 3.75rem;
}
.footer-link .icon {
  font-size: 1.5rem;
  filter: brightness(10);
}
.footer-link.active .icon {
  filter: brightness(1);
}
.footer-link.active svg path {
  fill: var(--color-blue) !important;
}

/* Create feel */

.create-feel {
  display: none;
  padding-left: 2.5rem;
}
.app-footer.create-feel-page .create-feel {
  display: block;
}
.create-feel .btn {
  margin-top: -3.25rem;
  font-size: 1.625rem;
}
</style>
