<template>
  <div class="app-header">
    <div class="header-icon options">
      <NuxtLink to="/">
        <raw-svg icon="options" />
      </NuxtLink>
    </div>
  </div>
</template>

<script>
import RawSvg from '~/components/utils/RawSvg'

export default {
  name: 'AppHeader',
  components: {
    RawSvg
  }
}
</script>

<style scoped>

.app-header {
  z-index: 1000;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
}
.header-icon.options {
  margin-left: auto;
}
.header-icon .icon {
  font-size: 1.375rem;
}
</style>
