<template>
  <div class="exploration-feel">
    <div class="feel-background">
      <feel-background :feel="currentFeel" />
    </div>
    <div class="feel-header">
      <div class="feel-header-buttons">
        <div class="header-icon options">
          <NuxtLink to="#">
            <raw-svg icon="3dots" />
          </NuxtLink>
        </div>
        <div class="header-icon close">
          <NuxtLink to="/">
            <raw-svg icon="close" />
          </NuxtLink>
        </div>
      </div>
      <div class="feel-timeline">
        <div
          v-for="index in 10"
          :key="index"
          :class="`timeline-item ${$route.params.feelIndex > index ? 'visited' : ''} ${parseInt($route.params.feelIndex) === index ? 'active' : ''}`"
        />
      </div>
      <div class="feel-music">
        <feel-track :feel="currentFeel" />
      </div>
    </div>
    <div class="feel-content">
      <feel-cover :feel="currentFeel" />
      <feel-words :feel="currentFeel" />
    </div>
    <div class="feel-discover">
      <button
        :class="isDiscovery ? 'isDiscovery' : ''"
        @click="discoverFeel(currentFeel)"
      >
        <raw-svg icon="discovery-save" />
        <span class="button-label">
          Ajouté à vos découvertes
        </span>
      </button>
    </div>
    <div class="feel-links">
      <NuxtLink
        v-if="parseInt(feelIndex) > 1"
        :to="`/exploration/${explorationId}/${parseInt(feelIndex) - 1}`"
        class="feel-previous"
      />
      <NuxtLink
        v-if="parseInt(feelIndex) < 10"
        :to="`/exploration/${explorationId}/${parseInt(feelIndex) + 1}`"
        class="feel-next"
      />
      <NuxtLink
        v-if="parseInt(feelIndex) === 10"
        :to="`/exploration/${explorationId}/`"
        class="feel-next"
      />
    </div>
  </div>
</template>

<script>
import { defaultFeels } from '~/data/defaultFeels'
import { defaultExplorations } from '~/data/defaultExplorations'
import RawSvg from '~/components/utils/RawSvg'

import FeelBackground from '~/components/FeelBackground'
import FeelTrack from '~/components/FeelTrack'
import FeelCover from '~/components/FeelCover'
import FeelWords from '~/components/FeelWords'

export default {
  components: {
    RawSvg,
    FeelBackground,
    FeelTrack,
    FeelCover,
    FeelWords
  },
  data () {
    return {
      defaultFeels,
      defaultExplorations,
      nextFeelTimeout: null,
      explorationId: this.$route.params.id,
      feelIndex: this.$route.params.feelIndex
    }
  },
  computed: {
    currentExploration () {
      const explorationId = this.$route.params.id
      return defaultExplorations.find(function (el) {
        return el.id === explorationId
      })
    },
    isDiscovery () {
      const currentFeelId = this.currentFeel.id
      return this.$store.getters['discoveries/getDiscoveries'].includes(currentFeelId)
    },
    currentFeel () {
      const feelIndex = this.$route.params.feelIndex - 1
      const currentExploration = this.currentExploration
      return defaultFeels.find(function (el) {
        return el.id === currentExploration.feels[feelIndex]
      })
    }
  },
  created () {
    // Go to next feel when track ends
    const context = this
    this.nextFeelTimeout = setTimeout(function () {
      if (parseInt(context.feelIndex) < 10) {
        context.$router.push({
          path: `/exploration/${context.explorationId}/${parseInt(context.feelIndex) + 1}`
        })
      } else {
        context.$router.push({
          path: `/exploration/${context.explorationId}/`
        })
      }
    }, 30000)
  },
  destroyed () {
    clearTimeout(this.nextFeelTimeout)
  },
  methods: {
    discoverFeel (feel) {
      this.$store.commit('discoveries/toggleDiscovery', feel)
    }
  }
}
</script>

<style>
.exploration-feel {
  position: relative;
  height: 100%;
}
.feel-background {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}

.feel-header {
  z-index: 1000;
  position: relative;
}
.feel-header-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
}
.feel-header-buttons .header-icon {
  padding: .25rem;
}
.feel-header-buttons .icon {
  font-size: 1.25rem;
}
.feel-header-buttons .close .icon {
  font-size: 1rem;
}

.feel-timeline {
  display: flex;
  width: calc(100% + .25rem);
  margin-left: -.125rem;
  margin-right: -.125rem;
}
.feel-timeline .timeline-item {
  flex: 0 0 10%;
  position: relative;
  height: 2px;
  width: 10%;
  padding: 0 .125rem;
}
.feel-timeline .timeline-item:before {
  content: "";
  z-index: 1;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .2);
}
.feel-timeline .timeline-item.visited:before {
  background-color: var(--color-blue);
}
.feel-timeline .timeline-item.active:after {
  content: "";
  z-index: 10;
  position: absolute;
  top: 0;
  left: .125rem;
  height: 100%;
  width: 0;
  background-color: var(--color-blue);
  animation: activeTimelineItem linear 30s both;
}
@keyframes activeTimelineItem {
  from {width: 0}
  to {width: calc(100% - .125rem)}
}

.feel-content {
  z-index: 10;
  position: absolute;
  top: 10rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.feel-discover {
  pointer-events: none;
  z-index: 101;
  position: absolute;
  bottom: 5rem;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.feel-discover button {
  pointer-events: all;
  position: relative;
}
.feel-discover .button-label {
  opacity: 0;
  position: absolute;
  top: calc(100% + .5rem);
  left: 50%;
  transform: translateX(-50%);
  padding: .375rem 1.25rem;
  border-radius: 5rem;
  white-space: nowrap;
  font-size: .75rem;
  background-color: var(--color-blue);
}
.feel-discover .button-label:before {
  content: "";
  position: absolute;
  top: -6px;
  left: calc(50% - 3px);
  height: 0;
  width: 0;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--color-blue);
  border-left: 6px solid transparent;
}
.feel-discover .icon {
  opacity: .7;
  font-size: 4rem;
  margin-left: .75rem;
  transition: all ease-in-out .2s;
}
.feel-discover svg path {
  transition: all ease-in-out .2s;
}
.feel-discover button.isDiscovery .button-label {
  opacity: 1;
  transition: all ease-in-out .2s;
}
.feel-discover button.isDiscovery .icon {
  opacity: 1;
  transform: scale(.8);
}
.feel-discover button.isDiscovery svg path {
  fill: var(--color-blue);
}
.feel-discover button.isDiscovery svg #_2 path {
  opacity: 0;
}

.feel-links {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.feel-links .feel-previous,
.feel-links .feel-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8rem;
}
.feel-links .feel-previous {
  left: 0;
}
.feel-links .feel-next {
  right: 0;
}
</style>
