<template>
  <div>
    <div class="exploration-end-title">
      <p class="surtitle">
        Vous avez découvert
      </p>
      <p class="subtitle">
        Voici les découvertes que vous avez fait lors de cette exploration
      </p>
    </div>
    <div class="discoveries">
      <div class="discoveries-wrapper">
        <div
          v-for="(discovery, index) in discoveries"
          :key="index"
          class="feel-card-wrapper"
        >
          <feel-card
            :feel="discovery"
          />
        </div>
      </div>
    </div>
    <div class="new-exploration">
      <div class="new-exploration-button">
        <NuxtLink to="/exploration/0/1">
          <raw-svg icon="discovery" />
        </NuxtLink>
        <div class="button-label">
          Nouvelle exploration
        </div>
      </div>
    </div>
    <div class="close-exploration">
      <NuxtLink to="/">
        Fermer
      </NuxtLink>
    </div>
  </div>
</template>

<script>
import { defaultFeels } from '~/data/defaultFeels'
import RawSvg from '~/components/utils/RawSvg'
import FeelCard from '~/components/FeelCard'

export default {
  components: {
    RawSvg,
    FeelCard
  },
  data () {
    return {
      defaultFeels
    }
  },
  computed: {
    discoveries () {
      const discoveries = this.$store.getters['discoveries/getDiscoveries']
      return discoveries.map((discovery) => {
        return defaultFeels.find(function (el) {
          return el.id === discovery
        })
      })
    }
  }
}
</script>

<style>
.exploration-end-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: calc(4.5rem + 1rem);
}
.exploration-end-title .surtitle {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}
.exploration-end-title .subtitle {
  opacity: .5;
  max-width: 15rem;
  font-size: .875rem;
}

.discoveries {
  overflow: hidden;
  width: 100%;
  margin: 1.5rem 0 .5rem 0;
}
.discoveries-wrapper {
  display: flex;
  width: auto;
}
.discoveries .feel-card-wrapper {
  padding: 0 .25rem;
}

.new-exploration {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
.new-exploration a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.5rem;
  width: 6.5rem;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  transform: scale(.9);
  transition: all ease .25s .05s;
}
.new-exploration a:hover {
  filter: brightness(1.1);
}
.new-exploration a:before,
.new-exploration a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
}
.new-exploration a:before {
  opacity: .6;
  height: 9rem;
  width: 9rem;
  transition: all ease .25s .1s;
}
.new-exploration a:after {
  opacity: .3;
  height: 11.5rem;
  width: 11.5rem;
  transition: all ease .25s .15s;
}
.new-exploration a:hover:before,
.new-exploration a:hover:after {
  filter: brightness(1.1);
}
.new-exploration .icon {
  font-size: 3rem;
  transition: all ease .2s;
}
.new-exploration .icon svg path {
  fill: var(--color-blue);
}
.new-exploration a:hover .icon svg path {
  filter: brightness(1.1);
}
.new-exploration .button-label {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: .375rem 1.25rem;
  border-radius: 5rem;
  white-space: nowrap;
  font-size: .875rem;
  background-color: var(--color-blue);
}
.new-exploration .button-label:before {
  content: "";
  position: absolute;
  top: -6px;
  left: calc(50% - 3px);
  height: 0;
  width: 0;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--color-blue);
  border-left: 6px solid transparent;
}

.close-exploration {
  margin-top: 3.5rem;
  text-align: center;
}
.close-exploration a {
  padding: .375rem 1.25rem;
  border-radius: 5rem;
  white-space: nowrap;
  font-size: .875rem;
  background-color: var(--color-dark-blue);
}
.close-exploration a:hover {
  background-color: var(--color-blue);
}
</style>
