/* Main.scss variables */

$container-max-width: 75rem;
$container-padding: 6vw;
$gutter: 4rem;

$max-width-xs: 399.98px;
$max-width-sm: 575.98px;
$max-width-md: 767.98px;
$max-width-lg: 991.98px;
$max-width-xl: 1199.98px;
$max-width-xxl: 1439.98px;
$max-width-xxxl: 1679.98px;

$min-width-xs: 400px;
$min-width-sm: 576px;
$min-width-md: 768px;
$min-width-lg: 992px;
$min-width-xl: 1200px;
$min-width-xxl: 1440px;
$min-width-xxxl: 1680px;

$color-blue: #481BEA;
$color-gray: #3F3E54;
$color-black: #13151F;

/* Global variables */

:root {
  --color-blue: #481BEA;
  --color-dark-blue: #231764;
  --color-gray: #3F3E54;
  --color-black: #13151F;
}
