
.btn {
  display: inline-block;
  padding: .5rem 1.25rem;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: .5rem;
  color: white;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  transition: all .15s ease;

  &:hover {
    color: black;
    background-color: darken($color-blue, 10%);
    border-color: darken($color-blue, 10%);
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    opacity: .65;
    pointer-events: none;
  }
}
.btn .icon {
  width: 1.3em;
  margin-left: -.5rem;
  margin-right: .75em;
  transition: all .2s;
}
.btn .icon img,
.btn .icon svg {
  height: auto;
  max-height: 1.1em;
  width: 100%;
}


/* Buttons with icon only */

.btn-square,
.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  text-decoration: none;

  img, svg {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto 0;
  }
  .icon {
    margin-left: 0;
    margin-right: 0;
  }
  &:hover .icon {
    margin-right: 0;
  }
}
.btn-round {
  border-radius: 50%;
}
.btn-square {
  border-radius: 0;
}
