<template>
  <div class="feel-words">
    <p
      v-for="(word, index) in feel.words"
      :key="index"
      class="word"
    >
      {{ word }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'FeelWords',
  props: {
    feel: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped>
.feel-words {
  text-align: center;
}
.feel-words .word {
  margin-bottom: .75rem;
  font-size: 1.375rem;
  font-weight: 600 !important;
  text-shadow: 0 0 3px rgba(0, 0, 0, .15);
}
</style>
