<template>
  <div class="feel-background">
    <div
      class="backgroundColor"
      :style="backgroundColor"
    />
    <div
      class="backgroundImage"
      :style="backgroundImage"
    />
  </div>
</template>

<script>
export default {
  name: 'FeelBackground',
  props: {
    feel: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    backgroundColor () {
      return `background-color: ${this.feel.visual.color};`
    },
    backgroundImage () {
      let style = `background-image: url('${this.feel.visual.imageUrl}');`
      style += `background-position: ${this.feel.visual.imageTranslateX}% 50%;`
      style += `filter: blur(${this.feel.visual.imageBlur}px);`
      return style
    }
  }
}
</script>

<style scoped>
.feel-background {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.feel-background:before {
  content: "";
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
  background: linear-gradient(0deg, rgba(29, 33, 56, 0) 0%, rgba(29, 33, 56, .6) 100%);
}
.feel-background:after {
  content: "";
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10rem;
  background: linear-gradient(180deg, rgba(29, 33, 56, 0) 0%, rgba(29, 33, 56, .6) 100%);
}
.backgroundColor {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.backgroundImage {
  z-index: 2;
  position: absolute;
  top: -5px;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  background-size: cover;
}
</style>
