<template>
  <div class="feel-track">
    <div class="audio">
      <audio
        :src="feel.track.previewUrl"
        autoplay
      />
    </div>
    <div class="details">
      <div class="visual">
        <div class="visual-line" />
        <div class="visual-line" />
        <div class="visual-line" />
        <div class="visual-line" />
      </div>
      <p class="name">
        <span class="artist">{{ feel.track.artistName }}</span>
        •
        <span class="track">{{ feel.track.title }}</span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FeelTrack',
  props: {
    feel: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped>

.feel-track .details {
  display: flex;
  padding: 1.5rem 1.75rem;
}
.feel-track .visual {
  flex: 0 0 16px;
  width: 16px;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 1rem;
}
.feel-track .visual .visual-line {
  width: 1px;
  background-color: white;
}
.feel-track .visual .visual-line:nth-child(1) {
  height: 14px;
  animation: visualLine1 ease 1.25s alternate infinite;
}
.feel-track .visual .visual-line:nth-child(2) {
  height: 10px;
  animation: visualLine2 ease 1s alternate infinite;
}
.feel-track .visual .visual-line:nth-child(3) {
  height: 6px;
  animation: visualLine3 ease 1.5s alternate infinite;
}
.feel-track .visual .visual-line:nth-child(4) {
  height: 10px;
  animation: visualLine4 ease 1.25s alternate infinite;
}
@keyframes visualLine1 {
  0% { height: 14px; }
  25% { height: 0; }
  50% { height: 6px; }
  100% { height: 0; }
}
@keyframes visualLine2 {
  0% { height: 10px; }
  50% { height: 0; }
  100% { height: 14px; }
}
@keyframes visualLine3 {
  0% { height: 6px; }
  33% { height: 0; }
  100% { height: 14px; }
}
@keyframes visualLine4 {
  0% { height: 10px; }
  66% { height: 0; }
  100% { height: 14px; }
}
.feel-track .name {
  margin-top: .125rem;
  margin-bottom: 0;
  font-size: .75rem;
}
.feel-track .name .artist {
  font-weight: 600;
}
</style>
