<template>
  <div class="feel-cover">
    <div
      v-if="feel.visual.hasCover"
      class="cover-image"
    >
      <img
        :src="feel.track.coverImage"
        :alt="`${feel.track.title} - ${feel.track.artistName}`"
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'FeelCover',
  props: {
    feel: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped>
.feel-cover {
  height: 14rem;
  width: 14rem;
  margin-bottom: 2.75rem;
}
.cover-image {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}
</style>
