<template>
  <div class="feel-card">
    <div class="feel-card-background">
      <div
        class="backgroundColor"
        :style="backgroundColor"
      />
      <div
        class="backgroundImage"
        :style="backgroundImage"
      />
    </div>
    <div class="feel-card-content">
      <div class="feel-cover">
        <div
          v-if="feel.visual.hasCover"
          class="cover-image"
        >
          <img
            :src="feel.track.coverImage"
            :alt="`${feel.track.title} - ${feel.track.artistName}`"
          >
        </div>
      </div>
      <div class="feel-card-details">
        <p class="track">
          {{ feel.track.title }}
        </p>
        <p class="artist">
          {{ feel.track.artistName }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FeelCard',
  props: {
    feel: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    backgroundColor () {
      return `background-color: ${this.feel.visual.color};`
    },
    backgroundImage () {
      let style = `background-image: url('${this.feel.visual.imageUrl}');`
      style += `background-position: ${this.feel.visual.imageTranslateX}% 50%;`
      style += `filter: blur(${this.feel.visual.imageBlur}px);`
      return style
    }
  }
}
</script>

<style scoped>

.feel-card {
  position: relative;
  overflow: hidden;
  flex: 0 0 9.5rem;
  width: 9.5rem;
  border-radius: 1rem;
}
.feel-card-background {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.feel-card-background:after {
  content: "";
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: linear-gradient(180deg, rgba(29, 33, 56, 0) 0%, rgba(29, 33, 56, .6) 100%);
}
.feel-card-background .backgroundColor {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.feel-card-background .backgroundImage {
  z-index: 2;
  position: absolute;
  top: -5px;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  background-size: cover;
}

.feel-card-content {
  z-index: 10;
  position: relative;
}
.feel-card-content .feel-cover {
  height: 5rem;
  width: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.feel-card-content .cover-image {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: .375rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.feel-card-details {
  padding: 0 1rem;
  padding-bottom: 1rem;
}
.feel-card-details p {
  margin-bottom: 0;
  font-size: .75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.feel-card-details p.track {
  font-weight: 600!important;
}

</style>
