<template>
  <div
    class="icon"
    v-html="require(`@/assets/icons/${icon}.svg?raw`)"
  />
</template>

<script>
export default {
  name: 'RawSvg',
  props: {
    icon: {
      type: String,
      default: 'discovery'
    }
  }
}
</script>

<style scoped>

</style>
