<template>
  <v-app dark>
    <div class="app-wrapper">
      <div class="app-container">
        <div class="app-content">
          <nuxt />
        </div>
        <app-footer />
      </div>
    </div>
  </v-app>
</template>

<script>
import AppFooter from '~/components/layout/AppFooter'

export default {
  components: {
    AppFooter
  }
}
</script>

<style>

.app-wrapper {
  height: 100vh;
  width: 100%;
}
.app-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: url('~/assets/img/background.jpg');
  background-size: cover;
}
.app-content {
  height: calc(100% - 5rem);

  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.app-content::-webkit-scrollbar {
  display: none;
}

@media (min-width: 576px) {
  .app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app-container {
    height: 760px;
    width: 360px;
    box-shadow: 0 0 2px 0 var(--color-gray);
  }
}
</style>
