<template>
  <div>
    <app-header />
    <div>
      <!-- -->
    </div>
  </div>
</template>

<script>
import AppHeader from '~/components/layout/AppHeader'

export default {
  components: {
    AppHeader
  },
  layout: 'bottomNav'
}
</script>
