<template>
  <div>
    <pre>{{ dataShow }}</pre>
    <audio :src="audioSrc" controls />
    <v-btn>
      Play Audio
    </v-btn>
  </div>
</template>

<script>
// import api from '@/api'

export default {
  /*
  async asyncData () {
    // const response = await api.spotify.search.search('Alone in tokyo', 'track', 0, 1)
    // console.log(response.data)
    // const response2 = await api.spotifyAuth.getSpotifyAuthToken()
    // console.log(response2.data)
    // return {
    //   dataShow: response.data.tracks.href,
    //   audioSrc: response.data.tracks.items[0].preview_url
    // }
  },
  */
  data () {
    return {
      dataShow: 'none',
      audioSrc: ''
    }
  }
}
</script>
