<template>
  <div>
    <app-header />
    <div>
      <div class="exploration-title">
        <p class="surtitle">
          Partez en exploration
        </p>
        <p class="subtitle">
          Appuyez au milieu pour découvrir de nouveaux sons
        </p>
      </div>
      <div class="start-exploration">
        <div class="start-exploration-button">
          <NuxtLink to="/exploration/0/1">
            <raw-svg icon="discovery" />
          </NuxtLink>
          <div class="button-label">
            Commencer une exploration
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppHeader from '~/components/layout/AppHeader'
import RawSvg from '~/components/utils/RawSvg'

export default {
  components: {
    RawSvg,
    AppHeader
  },
  layout: 'bottomNav'
}
</script>

<style>
.exploration-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}
.exploration-title .surtitle {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}
.exploration-title .subtitle {
  opacity: .5;
  max-width: 15rem;
  font-size: .875rem;
}

.start-exploration {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
.start-exploration a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.5rem;
  width: 6.5rem;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  transition: all ease .25s .05s;
}
.start-exploration a:hover {
  filter: brightness(1.1);
}
.start-exploration a:before,
.start-exploration a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
}
.start-exploration a:before {
  opacity: .6;
  height: 9rem;
  width: 9rem;
  transition: all ease .25s .1s;
}
.start-exploration a:after {
  opacity: .3;
  height: 11.5rem;
  width: 11.5rem;
  transition: all ease .25s .15s;
}
.start-exploration a:hover:before,
.start-exploration a:hover:after {
  filter: brightness(1.1);
}
.start-exploration .icon {
  font-size: 3rem;
  transition: all ease .2s;
}
.start-exploration .icon svg path {
  fill: var(--color-blue);
}
.start-exploration a:hover .icon svg path {
  filter: brightness(1.1);
}
.start-exploration .button-label {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  padding: .375rem 1.25rem;
  border-radius: 5rem;
  white-space: nowrap;
  font-size: .875rem;
  background-color: var(--color-blue);
}
.start-exploration .button-label:before {
  content: "";
  position: absolute;
  top: -6px;
  left: calc(50% - 3px);
  height: 0;
  width: 0;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--color-blue);
  border-left: 6px solid transparent;
}
</style>
